<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--
    MyBatis 主配置文件
-->
<configuration>

    <!-- 为JAVA PO类起类别名 -->
    <typeAliases>
        <!-- 别名方式2，自动扫描，将JAVA类的类名作为类的类别名 -->
        <package name="com.system.po" />
    </typeAliases>


    <mappers>
        <!--由于使用了spring与mybati整合包进行，mapper扫描，这里不需要配置-->

       <!-- <mapper resource="com/system/mapper/CollegeMapper.xml"/>
        <mapper resource="com/system/mapper/CourseMapper.xml"/>
        <mapper resource="com/system/mapper/CourseMapperCustom.xml"/>
        <mapper resource="com/system/mapper/RoleMapper.xml"/>
        <mapper resource="com/system/mapper/SelectedcourseMapper.xml"/>
        <mapper resource="com/system/mapper/StudentMapper.xml"/>
        <mapper resource="com/system/mapper/StudentMapperCustom.xml"/>
        <mapper resource="com/system/mapper/TeacherMapper.xml"/>
        <mapper resource="com/system/mapper/TeacherMapperCustom.xml"/>
        <mapper resource="com/system/mapper/UserloginMapper.xml"/>
        <mapper resource="com/system/mapper/UserloginMapperCustom.xml"/>-->

    </mappers>



</configuration>
